/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(
    to right,
    #facc15 0%,
    #facc15 var(--value),
    #e5e7eb var(--value),
    #e5e7eb 100%
  );
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #facc15;
  border-radius: 999px;
  cursor: pointer;
}
